*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F4E8AD;
}
h1{
    text-align: center;
    background-color: #c9b968;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.navbar{
    background-color:#D8CB8B;
    overflow: hidden;
    margin-top: 10px;
    padding: 10px;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 180px;
    text-decoration: none;
    font-size: 17px;
    background-color: #D8CB8B;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    margin: 0;
    padding: 0 120px;
    color: white;
    background-color: #D8CB8B;
}
.dropdown-content {
    display: none;
    position: absolute;
    left: 930px;
    background-color: #D8CB8B;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
    display:block
}
table{
    border-collapse: collapse;
    width: 40em;
    height: 25em;
    border-radius: 5px;
    margin: 25px auto;
    word-spacing: 5px;
    text-align: center;
    font-size: 17px;
}
thead{
    font-style: oblique;
}